body {
    background-color: rgb(39, 39, 39);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    width: 370px;
    margin-top: 50px;
}


@media (max-width: 770px){
    .container {
        margin: 0 10%;
    }

    .image {
        width: 100%;
    }
}

footer {
    margin-top: 30px;
    text-align: center;
    color: white;
    background-color: rgb(26, 25, 25);
}